body {
    border: 0px;
    margin: 0px;
    
}
.papaDiv {
    background-color: grey;


    /* border: 5px; */
    height: 1000px;
    display: flex;
    /* position: fixed; */
    /* border-color: aliceblue; */
}
#navDiv {
    color:blue;
    background-color: aquamarine;
    /* border: 12px; */
    border-color: red;
    align-self: left;
    height:100%;
    width:25%;
    position: fixed;
    

}
#scrollDiv { 
    color:black;
    align-self: right;
    height: 100%;
    width: 75%;

}
